<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('headers.ejs') %>
        <title>Ética</title>
</head>

<body>
    <div class="main" style="background-color: #528CEB;">
        <h1>Ética</h1>
        <div class="questions" id="questions">

        </div>
        <input type="button" value="Enviar" id="send">
    </div>
    <script src="eEtica.js"></script>
</body>

</html>