<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('headers.ejs') %>
        <title>Main</title>
</head>

<body>
    <div class="main">
        <h1 style="color: black">Cuestionarios de Ética profesional</h1>
        <h1><a href="/etica" style="background-color: #528CEB;">Ética</a></h1>
        <h1><a href="/moral" style="background-color: #B152EB;">Moral</a></h1>
        <h1><a href="/valores" style="background-color: #6452EB;">Valores</a></h1>
        <h1><a href="/showData" style="background-color: #ff4d4d;">Data</a></h1>
    </div>
</body>

</html>